* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --color1: rgb(0, 0, 0);
    --color2: rgb(20, 20, 20);
    --color3: rgb(40, 40, 40);
    --color4: rgb(60,60,60);
    --color5:rgb(80,80,80);
    --color6:rgb(100,100,100);
    --color7:rgb(120,120,120);
    --color8: rgb(200, 200, 200);
    --colora:rgb(40,40,40);
    --colorb:rgb(60, 60, 60);
    --colorc:rgb(80, 80, 80);
    --colord:rgb(200, 200, 200);
}
body {
    background-color: var(--colora);
}
.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorb);
    padding: 0px 20px;
    /* color: var(--colorn); */
    color: var(--colord);
}
.navleft {
    display: flex;
    align-items: center;
}
.navmenu {
    width: 50px;
    display: flex;
    align-items: center;
    filter: invert();
}
.search-box {
    display: flex;
    align-items: center;
    background-color: var(--colorc);
    padding: 10px;
    height: 30px;
}
.search-icon {
    width: 30px;
    display: flex;
    align-items: center;
}
.search-icon img {
    height: 20px;
    width: 20px;
    filter: invert();
}
input {
    height: 30px;
    width: 500px;
    outline: none;
    border: none;
    background-color: var(--colorc);
    color: var(--colord);
}
input::placeholder { /* Most modern browsers support this now. */
    color: var(--colord);
 }
.navright {
    display: flex;
    align-items: center;
}
.navright-elem {
    padding-right: 30px;
    color: var(--colord);
}
